.btn {
  background: #0dbdbd;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  line-height: 18px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-large {
  height: 177px;
}

.btn-medium {
  height: 40px;
}
